import { Button, Col, Form, Row{{#each importsArray}}, {{this}}{{/each}} } from "antd";
import React from "react";

const App = () => {
  const [form] = Form.useForm();

  const onFinish = (values) => {
    console.log("Success:", values);
  };

  return (
    <section
      style=\{{
        border: "1px solid blue",
        padding: "40px 20px 20px 20px",
        boxSizing: "border-box",
      }}
    >
      <Row>
        <Col span={24}>
           {{> formOpenTagPartial formPropsArray=formPropsArray}}
            {{#each fieldsPropsArray}}
            {{#if (eq this.type 'text')}}
            {{> inputPartial fieldProps=this }}
            {{/if}}
            {{#if (eq this.type 'password')}}
            {{> passwordPartial fieldProps=this }}
            {{/if}}
            {{#if (eq this.type 'checkbox')}}
            {{> checkboxPartial fieldProps=this }}
            {{/if}}
            {{#if (eq this.type 'checkboxGroup')}}
            {{> checkboxGroupPartial fieldProps=this }}
            {{/if}}
            {{#if (eq this.type 'select')}}
            {{> selectPartial fieldProps=this }}
            {{/if}}
            {{#if (eq this.type 'radio')}}
            {{> radioPartial fieldProps=this }}
            {{/if}}
            {{#if (eq this.type 'datepicker')}}
            {{> datepickerPartial fieldProps=this }}
            {{/if}}
            {{#if (eq this.type 'rangepicker')}}
            {{> rangepickerPartial fieldProps=this }}
            {{/if}}
            {{#if (eq this.type 'switch')}}
            {{> switchPartial fieldProps=this }}
            {{/if}}
            {{/each}}
            <Form.Item wrapperCol=\{{ 
              sm: { span: 24 },
              md: { span: 18, offset: 6 },
              lg: { span: 20, offset: 4 },
             }}
            >
              <Button type="primary" htmlType="submit">
                Submit
              </Button>
            </Form.Item>
          </Form>
        </Col>
        </Row>
    </section>
  );
}

export default App;